@font-face {
    font-family: 'Bodoni';
    src: url("Bodoni.ttf") format("truetype");
 }
 
 @font-face {
   font-family: 'Atlane Regular';
   font-style: normal;
   font-weight: normal;
   src: url('Atlane-Regular.otf') format('opentype');
 }
 
 @font-face {
     font-family: 'Minion';
     src: url("Minion-Pro-Cond-Italic.otf") format("opentype");
 }