@font-face {
    font-family: 'Rozelle';
    src: url("/fonts/Rozelle-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Belwe Medium';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Belwe-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Sweet Rosetia Sans';
    src: url("/fonts/Sweet-Rosetia-Sans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Atlane';
    src: url("/fonts/Atlane OTF.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Family/AvenirLTStd-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Family/AvenirLTStd-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Family/AvenirLTStd-Heavy.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Utility classes for the new fonts */
.font-rozelle {
    font-family: 'Rozelle', sans-serif;
}

.font-belwe {
    font-family: 'Belwe Medium', serif;
}

.font-sweet-rosetia {
    font-family: 'Sweet Rosetia Sans', sans-serif;
}

.font-atlane {
    font-family: 'Atlane', sans-serif;
}

.font-avenir {
    font-family: 'Avenir', sans-serif;
}