.cart {
    width: 350px;
    background-color: white;
    border: 2px solid $text-primary;
    display: fixed;
    z-index: 1;
    top: 1.25rem;
    right: 1.25rem;
    height: auto;
    position: fixed;

    @media (max-width: 768px) {
       width: 100%;
       right: 0;
       top: 0;
       height: 100vh;
       border: none;
   }

    &.heading {
        padding: 0.95rem 1rem;
        font-weight: bold;
        border-bottom: 2px solid $text-primary;
        color: $text-primary;
        font-size: 1.25rem;
    }

    &.inner {
        padding: 1.25rem;
    }

    &.total {
        display: flex;
        padding: 1rem 1.25rem 0;
        border-top: 2px solid $text-primary;
        justify-content: space-between;
    }

    &.total-title {
        color: $text-primary;
        font-weight: bold;
    }

    &.none {
        padding: 1.25rem;
        color: $text-primary;
        text-align: center;
    }

    &.footer {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
            text-align: center;
        }
    }

    &.btn-empty {
        align-self: flex-start;
        background-color: white;
        border: 2px solid $text-primary;
        padding-left: 1.25rem;
        padding: 0.5rem 0.75rem;
        margin: 0 1.25rem 1.25rem;
        text-transform: uppercase;
        color: $text-primary;
        font-weight: bold;
        font-size: 0.75rem;
    }

    &.btn-checkout {
        background-color: $text-primary;
        border: 2px solid $text-primary;
        padding-left: 1.25rem;
        padding: 0.5rem 0.75rem;
        margin: 0 1.25rem 1.25rem;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        font-size: 0.75rem;

        &:hover {
            background-color: lighten(#292B83, 10);
        }
    }
}

    .cart-item {
        display: flex;
        padding: 1.25rem;
        align-items: center;

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
        @media #{$lg-layout} {
          flex-direction: column;
        }
        @media #{$md-layout} {
          flex-direction: column;

        }
        @media #{$sm-layout} {
          flex-direction: column;
        }

        &.image {
            width: 9rem;
            height: 9rem;
            object-fit: cover;
            margin-right: 0.75rem;

            @media (max-width: 768px) {
              width: 9rem;
              height: 9rem;
              object-fit: cover;
              margin-bottom: 0.75rem;
          }
        }

        &.details-name {
            font-size: 1.3rem;
            color: var(--color-white);
            font-weight: bold;
            margin-bottom: 0.25rem;

        }

        &.details-qty {
            display: flex;
            margin: 0 auto;
            margin-bottom: 0;
            font-size: 1rem;
            color: var(--color-white);

            @media (max-width: 768px) {
                flex-direction: row;
            }
            @media #{$lg-layout} {
              flex-direction: row;
            }
            @media #{$md-layout} {
              flex-direction: row;

            }
            @media #{$sm-layout} {
              flex-direction: row;
            }

            button {
                border: none;
                background: none;
                font-size: 1.25rem;
            }

            p {
                margin-bottom: 0;
                margin-top: 3px;
            }
        }

        &.details-price {
            font-size: 1.3rem;
            color: var(--color-white);
        }

        &.remove {
            background-color: white;
            border: 2px solid $text-primary;
            padding: 0.5rem 0.75rem;
            font-size: 0.75rem;
            text-transform: uppercase;
            color: $text-primary;
            font-weight: bold;
            margin-left: auto;
            align-self: flex-start;

            @media (max-width: 768px) {
              align-self: center;
              margin-top: 0.5rem;
          }
        }
}

.ui.message {
    position: relative;
    min-height: 1em;
    margin: 1em 0;
    background: #f8f8f9;
    padding: 1em 1.5em;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, .87);
    transition: opacity .1s ease, color .1s ease, background .1s ease, box-shadow .1s ease;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px rgba(34, 36, 38, .22) inset, 0 0 0 0 transparent;
    font-size: 1em;
}

.ui.warning.message {
    background-color: #fffaf3;
    color: #573a08;
    box-shadow: 0 0 0 1px #c9ba9b inset, 0 0 0 0 transparent;
}

.ui.divider {
    margin: 1rem 0;
    line-height: 1;
    height: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgba(0, 0, 0, .85);
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
}

.ui.divider:not(.vertical):not(.horizontal) {
    border-top: 1px solid rgba(34, 36, 38, .15);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.ui.segment {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34, 36, 38, .15);
}

.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0, 0, 0, .6);
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
    -webkit-user-select: none;
    user-select: none;
    transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}

.ui[class*="right floated"].button, .ui[class*="right floated"].buttons {
    float: right;
    margin-right: 0;
    margin-left: .25em;
}

.ui.black.button, .ui.black.buttons .button {
    background-color: #1b1c1d;
    color: #fff;
    text-shadow: none;
    background-image: none;

    @media #{$lg-layout} {
      margin-top: 2.5rem;
      width: 100%;
    }
    @media #{$md-layout} {
      margin-top: 2.5rem;
      width: 100%;

    }
    @media #{$sm-layout} {
      margin-top: 2.5rem;
      width: 100%;
    }
}

.ui.icon.button, .ui.icon.buttons .button {
    padding: .78571429em .78571429em .78571429em;
}

.ui.basic.button, .ui.basic.buttons .button {
    background: transparent none !important;
    color: rgba(0, 0, 0, .6) !important;
    font-weight: 400;
    border-radius: .28571429rem;
    text-transform: none;
    text-shadow: none !important;
    box-shadow: 0 0 0 1px rgba(34, 36, 38, .15) inset;
}

.ui.items>.item {
    display: flex;
    margin: 1em 0;
    width: 100%;
    min-height: 0;
    background: 0 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition: box-shadow .1s ease;
    z-index: '';
    align-items: center;

    @media #{$md-layout} {
      flex-direction: column;

    }
    @media #{$sm-layout} {
      flex-direction: column;
    }


}

.ui.items>.item {
    font-size: 1em;
}

.ui.divided.items>.item {
    border-top: 1px solid rgba(34, 36, 38, .15);
    margin: 0;
    padding: 1em 0;
}

.ui.divided.items>.item .cart-item-list {
  padding: 1px;
  border: 2px solid gray;
  width: 10%;
  height: 100%;
  margin-right: 20px;


  @media #{$md-layout} {
    width: 100%;
    margin-right: 0px;
    display: flex;
    justify-content: center;

  }
  @media #{$sm-layout} {
    width: 100%;
    margin-right: 0px;
    border: none;
    display: flex;
    justify-content: center;
  }
}

.ui.divided.items>.item img{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    margin-bottom: 0.75rem;

}

.ui.divided.items>.item:first-child {
    border-top: none;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.ui.divided.items>.item:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.ui.items>.item>.content {
    display: block;
    flex: 1 1 auto;
    background: 0 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-size: 1em;
    border: none;
    border-radius: 0;
}

.ui.items>.item>.content>.header {
    display: inline-block;
    margin: -.21425em 0 0;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, .85);
}

.ui.items>.item>.content>.header:not(.ui) {
    font-size: 1.28571429em;

    @media (max-width: 768px) {
      font-size: 1rem;
      text-align: center;
    }
    @media #{$lg-layout} {
      font-size: 1rem;
      text-align: center;
    }
    @media #{$md-layout} {
      font-size: 1rem;
      text-align: center;

    }
    @media #{$sm-layout} {
      font-size: 1rem;
      text-align: center;
    }
}

.ui.items>.item .meta {
    margin: .5em 0 .5em;
    font-size: 1em;
    line-height: 1em;
    color: rgba(0, 0, 0, .6);

    @media (max-width: 768px) {
      font-size: 0.9rem;
      text-align: center;
    }
    @media #{$lg-layout} {
      font-size: 0.9rem;
      text-align: center;
    }
    @media #{$md-layout} {
      font-size: 0.9rem;
      text-align: center;

    }
    @media #{$sm-layout} {
      font-size: 0.9rem;
      text-align: center;
    }
}

.ui.items>.item>.content>.description {
    margin-top: .6em;
    max-width: auto;
    font-size: 1em;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, .87);

    @media (max-width: 768px) {
      font-size: 0.9rem;
      text-align: center;
    }
    @media #{$lg-layout} {
      font-size: 0.9rem;
      text-align: center;
    }
    @media #{$md-layout} {
      font-size: 0.9rem;
      text-align: center;

    }
    @media #{$sm-layout} {
      font-size: 0.9rem;
      text-align: center;
    }
}

.ui.items>.item [class*="right floated"] {
    float: right;
}

.ui.basic.button, .ui.basic.buttons .button {
    background: transparent none !important;
    color: rgba(0, 0, 0, 0.6) !important;
    font-weight: 400;
    border-radius: 0.28571429rem;
    text-transform: none;
    text-shadow: none !important;
    box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
}

.ui.icon.button>.icon, .ui.icon.buttons .button>.icon {
    opacity: .9;
    margin: 0 !important;
    vertical-align: top;
}

.ui.button>.icon:not(.button) {
    height: .85714286em;
    opacity: .8;
    margin: 0 .42857143em 0 -.21428571em;
    transition: opacity .1s ease;
    vertical-align: '';
    color: '';
}

i.icon {
    display: inline-block;
    opacity: 1;
    margin: 0 .25rem 0 0;
    width: 1.18em;
    height: 1em;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

i.icon, i.icons {
    font-size: 1em;
}

.cart-container {
  margin-left: 150px;
  margin-right: 150px;

  @media #{$lg-layout} {
    margin-left: 50px;
    margin-right: 50px;
  }
  @media #{$md-layout} {
    margin-left: 50px;
    margin-right: 50px;

  }
  @media #{$sm-layout} {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.cart-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  float: right;

  @media #{$lg-layout} {
    justify-content: center;
    float: none;
  }
  @media #{$md-layout} {
    justify-content: center;
    float: none;

  }
  @media #{$sm-layout} {
    justify-content: center;
    float: none;
  }
}

.cart-header-link {
  display: flex;
  font-size: 20px;

  @media #{$lg-layout} {
    font-size: 60px;
  }
  @media #{$md-layout} {
    font-size: 60px;

  }
  @media #{$sm-layout} {
    font-size: 60px;
  }

}
